body{
    padding: 0px;
    margin: 0px auto;
    background-color: #141f29;
}

.container{
    padding: 0;
    background-image: url('assets/images/bg.jpg');
    background-size: 1440px;
    background-repeat: no-repeat;
}

nav{
    padding: 20px;
}

.nav-logo{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    width: 100px;
}

.nav-link-container{
    display: inline-flex;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.45turn, rgb(0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    border-image-slice: 1;
}

.nav-link-item{
    font-size: 1rem;
    color: #FFF;
    margin-right: 50px;
    margin-top: auto;
}

.nav-link-item:last-child{
    margin-right: 0px;
}

.upper{
    padding: 20px;
}

.service-container{
    border: 1px solid rgba(189, 195, 199, 0.5);
    border-radius: 0px 30px 30px 0px;
    width: fit-content;
    padding: 15px;
    padding-left: 30px;
    margin-left: -20px;
    margin-top: 30px;
}

.service-item, .service-item-icon{
    display: inline-block;
}

.service-item:last-child{
    margin-left: 50px;
    margin-right: 20px;
}

.service-item-icon{
    vertical-align: top;
    margin-top: 20px;
}

.service-item-text{
    color: #FFF;
    font-size: 0.7rem;
    text-align: center;
}

.slogan{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #FFF;
}

.ads{
    font-size: 0.7rem;
    color: #2c5d77;
    font-weight: 500;
}

.slogan > p, .ads > p{
    padding: 0;
    margin: 0;
}

.company-name-on-bg{
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFF;
    position: absolute;
    top: 850px;
    left: 57%;
}

.middle{
    margin: 0;
    margin-top: 500px;
}

.card-container{
    background-color: #141f29;
    padding: 20px;
}

.card-item{
    display: inline-block;
    text-align: center;
    width: 24.8%;
    border-left: 1px solid cadetblue;
    padding: 20px;
}

.card-item:last-child{
    border-right: 1px solid cadetblue;
}

.card-item-icon > img{
    height: 150px;
}

.card-item-title, .card-item-text{
    color: #FFF;
    font-family: Corbel;
}

.card-item-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 700;
}

.card-item-text{
    font-size: 0.6rem;
    margin-bottom: 20px;
    line-height: 20px;
    letter-spacing: 2.5px;
}

.btn-see-more{
    border-radius: 50px;
    width: fit-content;
    background-color: cadetblue;
    color: #FFF;
    font-size: 0.5rem;
    border: 1px solid #FFF;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 5px 3px 3px #111;
}

.news-container{
    background-color: beige;
    padding: 20px;
}

.news-item-text{
    padding: 20px;
    font-size: 0.8rem;
}

.news-item-picture{
    background-color: #444;
    padding-left: 50px;
}

.pull-right{
    text-align: right;
    width: 100%;
    background-color: beige;
    padding-top: 20px;
}

.pull-right > a{
    text-decoration: none;
    color: black;
}